<form [formGroup]="myForm" [hidden]="begin" (ngSubmit)="newGame()">
  <mat-form-field>
    <input matInput placeholder="Player1" formControlName="playerOne">

    <mat-error *ngIf="playerOne.invalid && playerOne.touched">
      Player 1 must have a name.
    </mat-error>
  </mat-form-field>

  <div [hidden]="!twoPlayersGame.value">
    <mat-form-field>
      <input matInput placeholder="Player2" formControlName="playerTwo">
    </mat-form-field>
  </div>

  <br>

  <mat-checkbox formControlName="twoPlayersGame">2 Players</mat-checkbox>

  <br>

  <button mat-raised-button [disabled]="myForm.invalid">Play</button>
</form>

<div [hidden]="!begin">
  <div>
      <h2 [className]="'player-turn'">Current Player: {{ currentPlayer() }}</h2>
      <button mat-raised-button (click)="newGame()">New game</button>
      <br>
      <button mat-raised-button (click)="begin=!begin">Back</button>
  </div>

  <p [className]="'winner-header'" *ngIf="winner">
      {{ winner }} won the game!
  </p>

  <main>
      <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)">
      </app-square>
  </main>
</div>
