.title {
    text-align: center;
    font-size: 46px;
    padding: 20vh 0;
}

h3 {
    padding: 0 20px;
}

form {
    padding-top: 0vh;
}

mat-form-field {
    margin: 0 20px;
}

input {
    font-size: 26px;
}

.player-turn {
    font-size: x-large;
}

button {
    cursor: pointer;
    margin: 10px;
}

.winner-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

main {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-gap: 2px;
    margin: 5vh 17.5vw;
}

app-square {
    border: 1px rgb(0, 0, 0) solid;
    height: 20vw;
}
